a {
	color: black;
	text-decoration: none;
}

.social {
	width: 100%;
	background: #262626
}
.social p {
	color: white;
	margin-block-start: 0;
    margin-block-end: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
	background: url(wallpaper.png);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #262626;
	width: 100%;
	box-sizing: border-box;
}

header .logo {
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: right;
	font-weight: bold;
}
header nav {
	float: right;
	position: fixed;
}
header nav ul {
	margin: 0;
	padding: 0;
display: flex;}
header nav ul li {
	list-style: none;
	position: relative;
	
	text-align: center;
}
#sub-menu:before{
	content: '\25BC';
	position: absolute;
	line-height: 50px;
	color: #fff;
	right: 5px;
}

header nav ul li ul {
	position: absolute;
	left: 0;
	background: #333;
	display: none;
}
header nav ul li.active ul{
	display: block;
}
header nav ul li ul li{
	display: block;
	width: 200px;	
}

header nav ul li a {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none; 
	display: block;
}
header nav ul li a:hover,
header nav ul li a.active {
	color: #fff;
	background: #2196f3
}
.menu-toggle{
	color: #fff;
	float: left;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

@media (max-width: 1140px){
	header{
		padding: 0 20px;
	}
	.menu-toggle{display: block;
	}
	header nav {
		
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #333;
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active{
		left: 0
	}
	header nav ul{
		display: block;
	}
	header nav ul li a{
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
	header nav ul li.active ul{
		position: relative;
		background: #003e6f;

	}
	header nav ul li ul li {
		width: 100%;
	}
}

.rec {
	background: #fff;
	display: inline-block;
	width: 60%;	
	margin-top: 100px;
	height: 400px;
	align-items: center;
}

.rec a {
	padding: 10px;
	border-radius: 10%;
	background: #c3b9b9;
}
