.btn a {
    color: white;
    text-decoration: none;
    background-color: gray;
    
  
    padding: 5px;
    text-align: center;
    align-content: center;
    align-items: center;
border-radius: 3px}
   
    nav{background-color: rgb(39,36,44);
padding: 10px}


.btn a:hover{
    background-color: #363037;
    transition: 1s
}
        
   
    
.btn {

    list-style-type: none;
    display: inline-block; 
     }
body {
    
    background-image: url('wallpaper.png')  ;
    background-size: cover;

    background-repeat: no-repeat;
    padding: 0;
    margin: 0;


}
*{ font-family: 'Fira Sans', sans-serif;}



footer p{
    margin-block-start: 0;
    margin-block-end: 0;
}
footer{margin-top:350px;
background: #3a2c2c;
padding: 0;
display: block;

 }

 footer a{
    text-decoration: none;
    color: white;
 }