.btn a {
    color: white;
    text-decoration: none;
    background-color: gray;
    padding: 10px;
  
    width: 50px;
    text-align: center;
    align-content: center;
    align-items: center;}
   
    nav{background-color: rgb(39,36,44);
padding: 5px}


.btn a:hover{
    background-color: #363037;}
        
   
    
.btn {

    list-style-type: none;
    display: inline-block; 
     }
body {
    
    background-image: url('folderia icon.jpg') ;
    background-size: cover;
    background-position: center;


}
*{ font-family: 'Fira Sans', sans-serif;}